.aveti_a_ready,
.aveti_a_active,
.aveti_a_result {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: solid gray 1px
}

.aveti_a_active,
.aveti_a_ready,
.aveti_a_result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aveti_q_iframe{
    height: 90%;
    border-width: 0;
}